.login
{
    background: #F7F7F7;
    min-height: 100vh;
    margin: 0 !important;

    display: flex;

    @include respond(tab-port)
    {
        justify-content: center;
        background-image: url("../../img/woderingMan.jpeg");
        background-size: cover;
        background-position: top;

        & > :first-child{display: none;}
    }

    // LHS
    .col-1-of-2
    {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        

        &:first-child
        {
            margin-right: $gutter-horizontal;
        }
        &:last-child
        {
            align-self: center;

            display: flex;

            @include respond(tab-port)
            {
                justify-content: center;
                background: rgba($color-white, .6);
            }
        }
        @include respond(tab-port)
        {
            width: 90%;
            height: 90vh;
            align-self: center;
        }
    }

    &__icon__background
    {
        height: 100%;
    }
    &__icon
    {
        width: 75%;
        height: 100%;
    }





    // RHS
    &__container
    {
        align-self: center;
        margin: 3rem 0;

        display: flex;
        flex-direction: column;

        // & > *:not(:last-child)
        & > *:not(.form)  
        {
            margin-bottom: .5rem;
            
            @include respond(phone){margin-bottom: 1.5rem;}
        }
    }
    &__no__account__container
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__no__account__text
    {
        margin-right: 2rem;
        font-size: 1.3rem;
        letter-spacing: 1px;

        @include respond(phone){font-size: 3.2rem; }
    }
    .btn
    {
        font-size: 1.4rem;
        font-weight: 700;
        box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);

        @include respond(phone){font-size: 3.2rem; }
    }
    &__welcome
    {
        font-size: 5rem;
        font-weight: 300;
        letter-spacing: 3px;

        @include respond(phone){font-size: 9rem; }
    }
    &__sign__with
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * 
        {
            display: flex;
            align-items: center;
            padding: 1rem 1.3rem;
            border-radius: .7rem;
            overflow: hidden;

            display: flex;
            align-items: center;

            &:not(:last-child){margin-right: 2rem;}
        }
        &--anchor
        {
            text-decoration: none;
            box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);
            transition: all .2s ease-in-out;

            &:hover{transform: translateY(-1px);}
            &:active, &:focus
            {
                outline: none;
                transform: translateY(0);
            }
        }
        .facebook{background: $color-facebook;}
        .google{background: $color-google;}
        &--icon
        {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 9px;
            fill: $color-white;

            @include respond(phone){width: 3rem; height: 3rem; }
        }
        &--text
        {        
            font-size: 1.3rem;
            font-weight: 700;
            color: $color-white;
            letter-spacing: 1px;
            line-height: normal;

            @include respond(phone){font-size: 2.7rem;}
        }
    }
    .or
    {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #000; 
        line-height: 0.1em;
        margin: 10px 0 20px; 

        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 2px;

        @include respond(tab-port){margin: 3rem 0;}
        @include respond(phone){font-size: 3rem;}

        .span
        {
            background:#F7F7F7; 
            padding:0 1.5rem;

            @include respond(tab-port)
            {
                background: #F7F7F7;
                border-radius: 50%;
                padding: 1.5rem 1.5rem;
            }
        }
    }



    // Form
    .form
    {

        display: flex;
        flex-direction: column;

        &__group
        {
            &:not(:last-child){margin-bottom: 1rem;}
        }
        &__input
        {
            color: inherit;
            font-family: inherit;
            padding: .9rem 1.7rem;
            font-size: 1.4rem;
            letter-spacing: 1px;
            border: none;
            border: 1px solid $color-grey-dark-2;
            background: $color-white;
            border-radius: 10px;
            width: 100%;
            display: block;
            border-bottom: 3px solid $color-grey-dark-2;
            transition: all .2s;

            @include respond(phone)
            {
                font-size: 3rem;
            }

            &:focus
            {
                outline: none;
                box-shadow: 0 1rem 2rem rgba($color-black, .1);
                border-bottom: 3px solid $color-primary;
            }
            &:focus:invalid
            {
                border-bottom: 3px solid $color-secondary-light;
            }
            &::-webkit-input-placeholder
            {
                color: $color-grey-dark-1; 
            }
            &:placeholder-shown + .form__label
            {
                opacity: 0; 
                visibility: hidden;
                transform: translateY(-4rem);
            }
        }   
        &__label
        {
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            margin-left: 1.7rem;
            margin-top: .1rem;
            display: block;
            transition: all .3s;

            @include respond(phone){font-size: 2rem;}
        }
        &__anchor
        {
            text-decoration: none;

            &-right
            {
                align-self: flex-end;
            }
            &-left
            {
                align-self: flex-start;
                cursor: pointer;
                padding: 1rem 5rem !important;
            }
        }
        &__forget
        {
            font-size: 1.3rem;
            color: $color-google;
            transition: all .2s ease-in-out;

            &:hover{transform: translateY(-1px);}
            &:active{transform: translateY(0);}

            @include respond(tab-port)
            {
                font-size: 1.5rem;
                color: #003881;
            }
            @include respond(phone){font-size: 3rem;}
        }
    }


    // customer or seller 
    &__choose
    {
        margin-bottom: 2rem !important;
        border-radius: 5px;
        color: $color-grey-dark-1;
        font-size: 1.6rem;
        font-weight: 700;

        display: flex;
        justify-content: space-between;

        @include respond(phone){font-size: 3rem;}

        &--anchor
        {
            // text-decoration: none;
            cursor: pointer;
            color: $color-grey-dark-1;
            

            & > * 
            {
                box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);
                padding: 1rem 4rem;
                border-radius: 10px;
                
                transition: all .2s ease-in-out;

                &:hover{transform: translateY(-1px);}
                &:active, &:visited
                {
                    transform: translateY(0);
                }

            }
        }
        &--active
        {
            background: $color-google; 
            color: $color-white;
            border-radius: 10px;
        }
    }
}