.product
{
    padding: 4rem 0;

    display: flex;
    flex-direction: column;

    & > * {margin: 2rem 0;}
    & > *:first-child{margin: 4rem 0 2rem 0;}


    .heading__secondary
    {
        align-self: start;
        margin-top: 0rem;
    }
    &__img__container
    {
        height: 81vh;
        margin: 0 9rem;

        display: flex;

        & > *{border-radius: 20px;}
        & > *:first-child
        {
            height: 100%;
            flex: 0 1 65%;
            box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);
            margin-right: 1rem;
        }
        .small__images
        {
            flex: 0 1 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & > * 
            {
                height: 30%;
                width: auto;
                border-radius: 20px;
                box-shadow: 0 .2rem 1rem rgba(0,0,0, .2);
                &:not(:last-child){margin-bottom: 5%;}
            }
        }

        @include respond(tab-port) {margin: 0 4rem;}
        @include respond(phone) {height: 50vh;}
    }
    &__paragraph
    {
        font-size: 2rem;
        font-weight: 300;
        color: $color-black;
    }
    &__form
    {
        display: flex;
        flex-direction: column;

        & > *:not(:last-child){margin-bottom: 3rem;}

        .input__container
        {
            display: flex;
            align-items: center;
        }
        label
        {
            font-size: 1.8rem;
            font-weight: 700;
            margin-right: 2rem;
        }
        span{margin-left: 2rem;}
        input[type=number]
        {
            padding: .7rem .5rem !important; 
            text-align: center;
            width: 9rem;
            border-radius: 1rem;
        }
        span{color: $color-primary;font-size: 1.8rem; font-weight: 700;}
    }
    &__select
    {
        padding: .7rem 1rem;
        // border-radius: 10px;
        border: none;
        font-size: 1.6rem;
    }
    .review
    {
        .stars{display: flex;}

        &__star
        {
            height: 2rem;
            width: 2rem;
            fill: $color-review;
        }
    }

    .input__container:last-child
    {
        & > *:first-child
        {
            margin-right: 3rem;
            cursor: pointer;
            padding: 1rem 2rem;
        }
        &>*:last-child div{padding: .7rem 3.5rem;}
    }
}