.video__show
{
    padding: 4rem 0 0 0;
}
.text__video
{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.text__video>p
{
    font-size: 1.2rem;
    font-weight: 600;
    word-spacing: .4rem;
    margin-bottom: 1.5rem;
}
.video__icons
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.video__icons p
{
    font-size: 1.2rem;
    font-weight: 700;
}
.video__icons p:first-of-type
{
    color: firebrick;
    cursor: pointer;
}
.video__icons p i
{
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.video__description--paragraph, .video__related
{
    font-size: 1.7rem !important;
    margin-bottom: 3rem !important;
}