.navigation 
{
    &__list
    {
        list-style: none;

        display: flex;

        & > *:not(:last-child)
        {
            margin-right: 3rem;
        }
    }
    &__link
    {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        color: inherit;
        padding-bottom: 1.4rem;
        transition: all .2s ease-in-out;
        
        border-bottom: 2px solid transparent;

        &:hover
        {
            border-bottom: 2px solid $color-black;
            color: $color-primary;
        }
    }

}

.sticky
{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: $shadow-dark !important;
    z-index: 99999999999999;
    transition: all .2s ease-in-out;
    animation: smoothScroll 1s;
}

.sticky ~ .section__logo {margin-top: 13rem !important;}

.sticky ~ .best__selling-page {margin-top: 9rem !important;}

// .sticky ~ .add,
.sticky ~ .cart,
.sticky ~ .payment,
.sticky ~ .profile
 {padding: 9rem 0 !important;} // 5rem : the height of the header + 4rem : the padding of each section
.sticky ~ .product,
.sticky ~.checkout,
.sticky ~ .filter
 {padding: 9rem 0 0 0 !important; }
.sticky ~ .add {padding: 9rem 0 4rem 0 !important;}



@keyframes smoothScroll {
	0% {
		transform: translateY(-4rem);
	}
	100% {
		transform: translateY(0px);
	}
}
